/*Basic styles*/
:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-accent: #30b868;
  --color-headings: #001931;
  --color-body: #627382;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 7.2rem;
  line-height: 8.4rem;
}

h1 .heading__primary {
  color: var(--color-primary);
}

h1 .heading__accent {
  color: var(--color-accent);
}

h2 {
  font-size: 4.8rem;
  line-height: 5.8rem;
}

h3 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 1rem;
}

.list--inline .list__item:nth-child(even)::before {
  content: "• ";
  margin-right: 0.5rem;
}

.list--tick {
  list-style-image: url(/images/CheckCircle.png);
  padding-left: 3rem;
  color: var(--color-headings);
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

/* Logo */
.logo {
  width: 120px;
  height: 60px;
}

/* Navbar */
.nav {
  margin: 0;
}

.nav__list {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0;
}

.nav__item {
  text-decoration: none;
  padding: 0.5rem 2rem;
}

.nav__item > a {
  text-decoration: none;
  color: var(--color-secondary);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-accent);
}

/* Button */

.btn {
  border: 1px solid var(--color-secondary);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  text-transform: capitalize;
  border-radius: 4px;
  padding: 1.2rem 1.6rem;
}

.btn > a {
  text-decoration: none;
  color: var(--color-primary);
}

.btn img {
  width: 20px;
  height: 20px;
}

.btn--primary {
  background-color: var(--color-accent);
}

.btn--secondary {
  border: 1px solid var(--color-primary);
  background-color: none;
}

.btn--cta {
  color: var(--color-primary);
  background-color: var(--color-accent);
  border: 1px solid var(--color-secondary);
  border-radius: 4px;
  padding: 1.2rem 1.6rem;
}

.btn--decoration {
  background-color: var(--color-primary);
  width: 24rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid var(--color-secondary);
  border-radius: 1000px;
}

.btn--decoration p {
  margin: 0;
  color: var(--color-accent);
  font-size: 1.6rem;
  font-weight: 500;
}

.btn--flex {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.btn__hero-icon {
  width: 16px;
  height: 16px;
  background-color: var(--color-accent);
  border-radius: 8px;
  box-shadow: 0 4 4px 0 000000, 25%;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

/* Hero Section */
.hero {
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero--heading {
  text-align: center;
}

.heading--primary {
  color: var(--color-primary);
  text-transform: capitalize;
}

.heading--accent {
  text-transform: capitalize;
  color: var(--color-accent);
}

.hero--body {
  color: var(--color-primary);
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.hero--call-to-action {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 1rem;
  }
}

/* Grid and Card */

.grid {
  display: grid;
}

@media screen and (min-width: 900px) {
  .grid--cols-2 {
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;
  }

  .grid--cols-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 6rem;
  }
}

.grid img {
  width: 80%;
}

.card {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  padding: 2.4rem;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
  text-align: center;
  text-transform: capitalize;
}

.card__image {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.card__flex_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__flex_column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

/* Note Section */

.note-section {
  margin-top: 6rem;
  text-align: center;
}

/* Second Brain Section */

.second-brain {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.second-brain .card__flex_column {
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
}

.second-brain__content p:first-child {
  color: var(--color-accent);
  text-transform: uppercase;
}

.second-brain__content h2 {
  text-transform: capitalize;
}

@media screen and (max-width: 900px) {
  .grid--cols-2 {
    grid-template-columns: 1fr;
  }

  .second-brain img {
    justify-self: center;
    max-width: 100%;
  }

  .second-brain .card__flex_column {
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}

.early-access {
  background-color: rgba(251, 251, 251, 1);
}

.early-access__content {
  padding-top: 8rem;
  text-align: center;
  padding-bottom: 8rem;
}

.early-access__content .card__flex_column {
  gap: 2.4rem;
}

.early-access__text-content h2 {
  text-transform: capitalize;
  font-size: 4rem;
}

.container .early-access {
  margin-bottom: 12rem;
}
