/* Basic Styles */
:root {
--color-primary: #fff;
--color-secondary: #000;
--color-accent: #30B868;
--color-headings: #001931;
--color-body: #627382;
}

/* Typography */
html {
font-size: 62.5%;
}

body {
font-family: Inter, Arial, Helvetica, sans-serif;
font-size: 1.8rem;
line-height: 1.5;
font-weight: 400;
color: var(--color-body);
}

h1, h2, h3 {
color: var(--color-headings);
font-weight: 700;
margin: 0;
}

h1 {
font-size: 7.2rem;
line-height: 8.4rem;
}

h1 .heading__primary {
color: var(--color-primary);
}

h1 .heading__accent {
color: var(--color-accent);
}

h2 {
font-size: 4.8rem;
line-height: 5.8rem;
}

h3 {
font-weight: 600;
font-size: 2.4rem;
line-height: 2.9rem;
}

p {
font-size: 1.6rem;
font-weight: 400;
line-height: 2rem;
}